<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <atom:link href="http://pjb.getforge.io/canada/rss.xml" rel="self" type="application/rss+xml" />
  <title>Newsletter PJ Boirleaud - Canada</title>
  <link>http://pjb.getforge.io/canada/</link>
  <description>Newsletters de PJ Boirleaud au Canada</description>
  <image>
      <url>http://pjb.getforge.io/canada/img/pj.jpeg</url>
      <link>http://pjb.getforge.io/canada/</link>
      <title>Newsletter PJ Boirleaud - Canada</title>
  </image>
${forEachNewsletter('start')}  <item>
      <guid>http://pjb.getforge.io/canada/${N}/</guid>
      <title>#${N} - ${DATE} - ${TITLE}</title>
      <link>http://pjb.getforge.io/canada/${N}/</link>
      <description></description>
  </item>
${forEachNewsletter('end')}
</channel>
</rss>